body {
  margin-left:0;
  margin-right:0;
}
.red {
  background-color : #F25022;
}
.green {
  background-color : #7FBA00;
}
.yellow {
  background-color: #FFB900;
}
.blue {
  background-color: #00A4EF;
}
